html {
  font-size: 62.5%;
  --ligthcolor: #D9D9DC;
  --midcolor: #787879;
  --accentcolor: #1176AD;
}

html * {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--ligthcolor);
}

body .main {
  background-color: #FFFFFF;
  width: 400px;
  height: 100%;
  margin: 7em auto;
  border-radius: 1.5em;
  -webkit-box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

body .main .mainform {
  padding-top: 40px;
  color: var(--midcolor);
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

body .main form1 {
  padding-top: 40px;
}

body .main form1 .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: auto;
      align-self: auto;
}

.rad, .errormsj {
  text-align: center;
  font-size: 1.6em;
  color: var(--midcolor);
}

.rad label, .errormsj label {
  margin-left: 20px;
  margin-right: 20px;
}

span {
  color: lightcoral;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.myChart {
  margin: 5px;
}

.un {
  width: 76%;
  color: #263238;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}

.age {
  width: 76%;
  color: #263238;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
}

.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.buttons {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.buttons .submit {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5em;
  color: #fff;
  background: var(--midcolor);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 13px;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  margin-top: 13px;
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

.results {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
}

.results #table {
  width: 80%;
  padding: 20px;
  display: block;
  margin: auto;
  text-align: center;
}

.results th, .results td {
  border: 0px solid black;
  padding: 5px;
  width: 20px;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.results tr:hover {
  background-color: var(--ligthcolor);
  color: gray;
}

/* CSS */
.buttonX {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
          box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1.2em;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 3px 16px;
  position: relative;
  -webkit-transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
/*# sourceMappingURL=style.css.map */